<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="utf-8">
    <title>Uppy — клон Rghost</title>
    <link href="{{ hostName }}/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-inner">
                {% block brand %}
                    <a class="brand" href=''>UPPY</a>
                {% endblock %}
                <div class="pull-right nav-collapse">
                    <form accept-charset="UTF-8" action="/search" class="navbar-search pull-right" method="get">
                    <input class="search-query" name="s" placeholder="Поиск" size="20" type="search">
                    </form>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>