{% extends "base.html" %}

{% block brand %}
            <a class="brand" href='http://localhost/uppy/main'>UPPY</a>
{% endblock %}
{% block content %}
    <div class="container-fluid" id="content" style="">
        <center>
        <form accept-charset="UTF-8" action="http://localhost/uppy/upload" enctype="multipart/form-data" method="post">
            <input name="file" size="50" type="file">
            <input class="btn upload" name="submit" value="Отправить" type="submit">
        </form>
        </center>
        <span class="text-error">{{ errorSize }}</span>    
        <span class="text-error">{{ errorUpload }}</span>  
    </div>

{% endblock %}
